RewriteEngine On
RewriteBase /

# Si entran con slash, redirigir a la versión limpia (Evita error 500 y duplicidad)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Si el archivo .php existe, cargarlo internamente
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# SArchivo para error 404
ErrorDocument 404 /404.php